/*  your css code here. If applicable */
:root {
            background-color: rgb(135, 206, 235);
        }

        p:first-child {
            color: white;
			background:black;
        }


        p:nth-child(2) {
            color: black;
        }

        p:last-child {
            color: red;
        }
li{
	background-color:gray;
}
      .eg-1{
        background-color: white;
        width: 50%;
        padding: 10px;
        font-size: 22px;
      }
  .eg-2{
        width: 50%;
        padding: 10px;
      }
      .eg-3{
        background-color: pink;
        width: 50%;
        padding: 10px;
      }
  .eg-4{
        width: 50%;
        padding: 10px;
      }
       .eg-5{
        background-color: white;
        width: 50%;
        padding: 10px;
        font-size: 22px;
      }